
.register_btn{

    background: green !important;
    border-radius: 10px !important;
}

.playerenable{
    background: green !important;
    border-radius: 10px !important;
    
}
.playerdisable{
    background: rgb(190, 56, 12) !important;
    border-radius: 10px !important;
}

.register-teamno{
    width: 60px;
    text-align: center;
    margin-top: 5px;
}