/* You can add global styles to this file, and also import other style files */



.validation-message{
    color: red;
}

.bg-primary {
    background-color: #886ab5 !important;
} 


.loginbg{
    background: url('https://piadmin.theicexch.com/assets/images/adminBG.jpg');
    height: 100vh;
}



/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}







/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
