<!-- <app-toster></app-toster>


<router-outlet></router-outlet> -->

<div class="page-wrapper">
    <div class="page-inner">
        <!-- [ngClass]="this.object?.isLogin ? '':'d-none'" -->
      <app-sidebar [ngClass]="this.object?.isLogin ? '':'d-none'"></app-sidebar>
  
      <div class="page-content-wrapper">
        <app-header [ngClass]="this.object?.isLogin ? '':'d-none'"></app-header>

        <router-outlet></router-outlet>
        
      </div>
    </div>
    </div>
  
  <app-toster></app-toster>