<div>


    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-8">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>Compete with others
                                in your skill level</h1>
                            <p>Daily tournaments worth Rs 50,000 for every tier </p>
                            <a class="btn_1">Watch Tutorial</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->
    <!-- about_us part start-->
    <section class="about_us section_padding">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-5 col-lg-6 col-xl-6">
                    <div class="learning_img">
                        <img src="assets/img/pubg.png" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-lg-6 col-xl-5">
                    <div class="about_us_text">
                        <h2>Battle Royal Tournaments like Never Before</h2>
                        <p>Don't wait for custom room tournaments.
                            Join now and play instantly.
                        </p>

                        <p>Win cash by playing BGMI and FreeFire
                            Withdraw instantly.
                        </p>
                        <!-- <a href="assets/#" class="btn_1">Install Now</a>
                        <a href="assets/#" class="btn_1">Watch Tutorial</a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about_us part end-->




    <!-- pricing part start-->
    <section class="pricing_part padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_tittle text-center">
                        <h2>Fantastic Skilled Based Games</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_pricing_part">
                        <p>1 st Prize</p>
                        <h3>10000</h3>
                        <!-- <ul>
                            <li>2Jili Bandwidth</li>
                            <li>Two Account</li>
                            <li>15Jili Storage</li>
                        </ul> -->
                        <!-- <a href="assets/#" class="btn_2">Choose Plane</a> -->
                    </div>
                    <img src="assets/img/pubg.png">
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_pricing_part">
                        <p>2 nd Prize</p>
                        <h3>8000</h3>
                        <!-- <ul>
                            <li>2Jili Bandwidth</li>
                            <li>Two Account</li>
                            <li>15Jili Storage</li>
                        </ul> -->
                        <!-- <a href="assets/#" class="btn_2">Choose Plane</a> -->
                    </div>
                    <img src="assets/img/pubg.png">

                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_pricing_part">
                        <p>3 rd Prize</p>
                        <h3>5000</h3>
                        <!-- <ul>
                            <li>2Jili Bandwidth</li>
                            <li>Two Account</li>
                            <li>15Jili Storage</li>
                        </ul> -->
                        <!-- <a href="assets/#" class="btn_2">Choose Plane</a> -->
                    </div>
                    <img src="assets/img/pubg.png">

                </div>
            </div>
        </div>
    </section>
    <!-- pricing part end-->
    <section class="about_us  pricing_part padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_tittle text-center">
                        <h2>Frequently Asked Questions</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="accordion accordion-wrapper" id="accordionExample">
                    <div class="accordion-item-2">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                How do I participate in tournaments and win ? Do I need to join custom rooms ?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>You need to intsall the Jili app, tell us your current tier in the game you choose
                                    and then join tournaments meant for your level.

                                    Once you grant Jili all the required premissions, you can contunue playing ranked
                                    matches as usual and win if your performance is better than other players who joined
                                    the tourament.

                                    You don't need to wait for custom rooms anymore, you can play the game you like
                                    everyday and compete will people like you and win</strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item-2">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How does Jili prevent cheating ?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Jili scans your game and uses AI to identify if you are using hacks or other
                                    cheating mechanisms. If your game play looks fishy we ban you.</strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item-2">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                How is Jili fair ?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>You only compete with players in your skill level. Your skill level is
                                    determined by your current game tier , your recent performance on Jili and other
                                    season stats.</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="single_footer_part">
                            <a href="assets/index.html" class="footer_logo_iner"> <img src="assets/img/logo.png"
                                    alt="#"> </a>
                            <p>Heaven fruitful doesn't over lesser days appear creeping seasons so behold bearing
                                days
                                open
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="single_footer_part">
                            <h4>Contact Info</h4>
                            <p>Address : Your address goes
                                here, your demo address.
                                Bangladesh.</p>
                            <p>Phone : +8880 44338899</p>
                            <!-- <p>Email : info@colorlib.com</p> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="single_footer_part">
                            <h4>Important Link</h4>
                            <ul class="list-unstyled">
                                <li><a href="assets/"> WHMCS-bridge</a></li>
                                <li><a href="assets/">Search Domain</a></li>
                                <li><a href="assets/">My Account</a></li>
                                <li><a href="assets/">Shopping Cart</a></li>
                                <li><a href="assets/">Our Shop</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6 col-lg-3">
                        <div class="single_footer_part">
                            <h4>Newsletter</h4>
                            <p>Heaven fruitful doesn't over lesser in days. Appear creeping seasons deve behold
                                bearing
                                days
                                open
                            </p>
                            <div id="mc_embed_signup">
                                <form target="_blank"
                                    action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                    method="get" class="subscribe_form relative mail_part">
                                    <input type="email" name="email" id="newsletter-form-email"
                                        placeholder="Email Address" class="placeholder hide-on-focus"
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = ' Email Address '">
                                    <button type="submit" name="submit" id="newsletter-submit"
                                        class="email_icon newsletter-submit button-contactForm"><i
                                            class="far fa-paper-plane"></i></button>
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="copygight_text">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="copyright_text">
                            <P>
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved by tour<a
                                    target="_blank"></a>
                            </P>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer_icon social_icon">
                            <ul class="list-unstyled">
                                <li><a href="assets/#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li><a href="assets/#" class="single_social_icon"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li><a href="assets/#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                                <li><a href="assets/#" class="single_social_icon"><i class="fab fa-behance"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->
</div>