.imgmanage{
    margin:35px 0px 0px 0px;
    height:500px;
     width:100%;

}

@media only screen and (max-width: 600px) {
    .imgmanage{
        margin:60px 0px !important ;
        height:500px;
         width:100% !important;
    }
  }