

.container .card-body{
    text-align: center;
    overflow: hidden;
    line-height: 2;
}

.container .card-body .mytext {
    display: block;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }
  
  @keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }