.pl-balance{
    font-size: medium;
    padding: 15px;
    color: #ffff;
    font-weight: 500; 
}

.dropdown-menu li{
    cursor: pointer;
    padding: 2px;
}

.dropdown-menu li:hover{
    background-color: #cfcfcf;
}