.blog_post {
    background: #fff;
    max-width: 31%;
    border-radius: 10px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 13px;
  }
  
@media (max-width: 768px) {
    .blog_post {
    max-width: 93%;
    }

}


  .container_copy {
    padding: 15px;
  }
  
  .img_pod {
    height: 110px;
    width: 110px;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    z-index: 10;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
    left: -10%;
    top: -13%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imagesview{
    height: 110px;
    width: 100%;
    // background: linear-gradient(90deg, #ff9966, #ff5e62);
    z-index: 10;
    // box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    // position: absolute;
    // left: -10%;
    // top: -13%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .trnamentImg img {
    height:6.3rem;
    width:6.3rem;
    position: relative;
    left: 0;
    top: 8px;
    border-radius: 100%;
    box-shadow: 1px 1px 2rem rgb(0 0 0 / 30%);
    z-index: 1;
  }
  .trnmenttitle {
    margin: 0 0 8px 0;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
  }

  .trnmentname {
    margin: 0 0 8px 0;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 2px;
  }

  h4,h5,h6 {
    margin: 0 0 0.5rem 0;
    color: #767676;
    // font-size: 1.25rem;
  }
  
  h1 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #333;
  }
  
  p {
    margin: 0 0 4.5rem 0;
    font-size: 14pxm;
    line-height: 1.45;
    color: #333;
  }
  
  .btn_primary {
    border: none;
    outline: none;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-size:15px;
    box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
    transition: all 0.2s ease-in;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn_primary:hover {
    box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
  }
  
  @media only screen and (max-width: 650px) {
    body {
      background-color: black;
    }
  
   
  }


  .btn_primary:hover {
    color: #ff0000;
    border: 1px solid #ff0000;
    background: #fff;
}